!.config/Code - OSS/User/
!.config/Code - OSS/User/keybindings.json
.antigen/
.antigenrc.zwc
.bash_history
.bash_logout
.cache/
.config/autostart/
.config/btop/btop.log
.config/Code - OSS/*
.config/Code - OSS/User/*
.config/dconf/
.config/discord/
.config/GIMP/
.config/godot/
.config/gpicview/
.config/gtk-2.0/
.config/gtk-3.0/bookmarks
.config/inkscape/
.config/joplin-desktop/
.config/Joplin/
.config/mimeapps.list
.config/nitrogen/
.config/pavucontrol.ini
.config/pulse/
.config/ristretto/
.config/Slack/
.config/Thunar/accels.scm
.config/transmission/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.fltk/
.gitconfig
.gtkrc-2.0
.icons/
.joplin/
.lesshst
.local/share/applications/
.local/share/autojump/
.local/share/godot/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/keyrings/
.local/share/nvim/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/rhythmbox/
.local/share/xorg/
.local/state/
.lyxauth
.mozilla/
.npm/
.nvm/
.pki/
.ssh/
.vim/
.viminfo
.vscode-oss/
.vscode/
.wakatime-internal.cfg
.wakatime.bdb
.wakatime.cfg
.wakatime.log
.wakatime/
.wget-hsts
.Xauthority
.yarn/
.zcompdump
.zsh_history
.zshrc.zwc
antigen.zsh
Downloads/
Music/
Pictures/